@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-color, currentColor);
    transition: background-color 0.2s ease, border-color 0.2s ease;
  }
}

@theme {
  --color-active-background: var(--background);
  --color-icon-background: var(--icon-background);
  --color-icon-text-color: var(--icon-text-color);
  --color-border-color: var(--border-color);
}

@layer base {
  :root {
    --background: var(--color-gray-100);
    --icon-background: var(--color-gray-100);
    --icon-text-color: var(--color-gray-700);
    --border-color: var(--color-gray-200);
  }

  .dark {
    --background: var(--color-gray-950);
    --icon-background: var(--color-gray-800);
    --icon-text-color: var(--color-gray-300);
    --border-color: var(--color-gray-800);
  }
}
