@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border-color, currentColor);
    /* transition: all 0.5s ease; */
  }
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  @apply w-full pl-9 sm:pl-10  py-2 sm:py-3 border;
  @apply dark:bg-gray-900 bg-gray-50 dark:border-gray-700 border-gray-300;
  @apply rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  @apply outline-none text-sm sm:text-base dark:text-white text-gray-900;
}

.connect-icons {
  @apply flex items-center gap-2 sm:gap-3 p-2 sm:p-3 dark:bg-gray-900 bg-gray-50;
  @apply hover:dark:bg-gray-700 hover:bg-gray-200 rounded-lg text-sm;
}

.card {
  @apply bg-card-background dark:border-gray-800 border-gray-200 rounded-xl p-4  sm:p-5 md:p-6 shadow-lg;
}

@theme {
  --color-active-background: var(--background);
  --color-border-color: var(--border-color);
  --color-card-background: var(--card-background);
  --color-hover-background: var(--hover-background);
}

@layer base {
  :root {
    --background: var(--color-gray-100);
    --border-color: var(--color-gray-200);
    --card-background: var(--color-white);
    --hover-background: var(--color-gray-300);
  }

  .dark {
    --background: var(--color-gray-950);
    --border-color: var(--color-gray-800);
    --card-background: var(--color-gray-950);
    --hover-background: var(--color-gray-700);
  }
}
